<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="a.html">aaaa  <a>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>

        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
             console.log(name)
            if (arr = document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }
        // function get(key, val) {
        //     document.cookie = key + '=' + val
        // }
        getCookie(name)
        // nums=$.cookies.get("num");//使用$.cookies.get("value");取
        console.log( $.cookie('key'))
    </script>
</html>